body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.login-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #333;
}

.login-content {
  width: 60%;
  height: auto;
  max-width: 450px;
  min-width: 300px;
  padding: 3em 2em;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 2%;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
}

.login-logo {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: auto;
  margin-bottom: 20px;
}

.login-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.login-input {
  width: 100%;
  box-sizing: border-box;
  padding: 1em;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 1em;
  outline: none;
}

.login-button {
  padding: 1em;
  background-color: red;
  border-radius: 2em;
  cursor: pointer;
  border: none;
  font-size: 16px;
}

.login-button:hover {
  background-color: #751600;
  transform: scale(1.05);
  transition: 0.7s;
}

.login-error {
  margin-top: 10px;
  color: red;
  font-weight: bold;
}

.login-error-container {
  margin-top: 20px;
  padding: 10px;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  color: #721c24;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.password-label {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 40%;
  cursor: pointer;
  user-select: none;
  font-size: 1.2em;
}
